.toolbar-container {
  background-color: black;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px; /* Adjust padding as needed */
  color: white; /* Text color for toolbar */
}

.title {
  font-size: 24px; /* Adjust font size as needed */
}

.spacer {
  flex: 1; /* Flexible space to push items to the right */
}

.username {
  margin-right: 10px; /* Space between username and logout button */
}

.logout-button {
  height: 40px;
  min-width: 80px; /* Adjust minimum width as needed */
  padding: 0 12px;
  font-size: 16px; /* Adjust font size as needed */
  font-weight: bold;
  color: black; /* Text color for logout button */
}

/* Media Query for Small Screens */
@media only screen and (max-width: 480px) {
  .title {
    font-size: 20px; /* Decrease font size for smaller screens */
    margin-top: 10px; /* Add margin to title for spacing */
  }

  .spacer {
    display: none; /* Hide spacer on small screens */
  }

  .username,
  .logout-button {
    display: none; /* Hide username and logout button on small screens */
  }

  .toolbar {
    padding: 0 10px; /* Adjust padding for smaller screens */
  }
}
