.loginComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.logo {
  width: 200px; /* Adjust size as needed */
  margin-bottom: 20px;
}

.card {
  width: 400px; /* Adjust size as needed */
}

.login-form {
  width: 100%;
}

.full-width {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.continue-btn, .cancel-btn {
  width: 150px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 5px;
  font-size: 16px;
}

.continue-btn {
  background-color: #3f51b5;
  color: white;
}

.cancel-btn {
  background-color: #f44336;
  color: white;
}

@media only screen and (max-width: 600px) {
  .logo {
      width: 150px;
  }

  .card {
      width: 300px;
  }

  .continue-btn, .cancel-btn {
      width: 120px;
      font-size: 14px;
  }
}
